[Unit]
Description=Allow Waydroid traffic through Docker's forwarding chain
After=firewalld.service docker.service sys-subsystem-net-devices-waydroid0.device
PartOf=firewalld.service docker.service
BindsTo=sys-subsystem-net-devices-waydroid0.device

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/waydroid-docker-firewall apply
ExecStop=/usr/local/libexec/waydroid-docker-firewall remove
RemainAfterExit=yes
