---
- name: Add APT PPAs
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
    state: present
  loop: "{{ apt_ppas }}"
  become: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
  become: true
