---
- name: Update dnf cache
  ansible.builtin.dnf:
    update_cache: true
  become: true

- name: Install common packages
  ansible.builtin.dnf:
    name: "{{ common_packages }}"
    state: present
  become: true
