---
- name: Enable LizardByte COPR repository
  ansible.builtin.command: dnf copr enable -y {{ sunshine_copr_repo }}
  become: true
  register: copr_result
  changed_when: "'enabled' in copr_result.stdout or copr_result.rc == 0"

- name: Install Sunshine
  ansible.builtin.dnf:
    name: Sunshine
    state: present
  become: true

- name: Allow Sunshine TCP ports through firewalld
  ansible.posix.firewalld:
    port: "{{ item }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  become: true
  loop:
    - "47984-47990"

- name: Allow Sunshine UDP ports through firewalld
  ansible.posix.firewalld:
    port: "{{ item }}/udp"
    permanent: true
    state: enabled
    immediate: true
  become: true
  loop:
    - "47998-48000"
