---
- name: Add Docker CE repository
  ansible.builtin.command: dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
  become: true
  args:
    creates: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker CE
  ansible.builtin.dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
  become: true

- name: Enable and start Docker
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
  become: true

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ dotfiles_user }}"
    groups: docker
    append: true
  become: true
