[Unit]
Description=OpenCode Server (headless)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ opencode_path }} serve --hostname {{ opencode_serve_hostname }} --port {{ opencode_serve_port }}
Restart=always
RestartSec=5
KillMode=process
WorkingDirectory={{ ansible_env.HOME }}
Environment=HOME={{ ansible_env.HOME }}
Environment="PATH={{ ansible_env.HOME }}/.cargo/bin:{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/.npm-global/bin:{{ ansible_env.HOME }}/bin:{{ ansible_env.HOME }}/.nvm/current/bin:{{ ansible_env.HOME }}/.fnm/current/bin:{{ ansible_env.HOME }}/.volta/bin:{{ ansible_env.HOME }}/.asdf/shims:{{ ansible_env.HOME }}/.local/share/pnpm:{{ ansible_env.HOME }}/.bun/bin:/usr/local/bin:/usr/bin:/bin"
{% if opencode_serve_password | default('') != '' %}
Environment=OPENCODE_SERVER_PASSWORD={{ opencode_serve_password }}
{% endif %}

[Install]
WantedBy=default.target
